.groupsContent {
    padding-top: 150px;
    /* Increased separation from banner */
    padding-bottom: 80px;
}

.heading {
    text-align: center;
    margin-bottom: 60px;
}

.heading h2 {
    max-width: 800px;
    margin: 0 auto;
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    color: #111111;
    width: 65%;
}

.ministry {
    padding: 40px 40px 22px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    background-color: #fbf9f7;
    z-index: 0;
    border-radius: 10px;
}

.ministry:before {
    content: "";
    background-image: url('/assets/images/ministry-bg.webp');
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-25px);
    transition: transform 0.3s ease;
    z-index: 1;
}

.ministry:hover:before {
    transform: translateX(0);
}

.ministry img {
    border-radius: 50% !important;
    position: relative;
    z-index: 2;
    width: 100%;
    /* Removed aspect-ratio: 1 to allow oval shape */
    object-fit: cover;
}

.ministry a {
    display: block;
    font-size: 28px;
    line-height: 55px;
    color: #322f25;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 700;
    position: relative;
    z-index: 2;
}

.ministry a:hover {
    color: #1f4372;
}

.socialGrid {
    padding: 20px 0;
    margin: 60px 0;
}

.socialList {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    padding: 25px 0;
    margin: 0;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.socialList:before {
    content: "";
    width: 100%;
    height: calc(100% + 10px);
    position: absolute;
    top: -5px;
    left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    pointer-events: none;
}

.socialItem {
    display: flex;
    align-items: center;
    gap: 15px;
}

.socialIcon {
    width: 60px;
    height: 60px;
    background: #2b4b7a;
    /* Legacy icon bg color */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.socialIcon svg {
    width: 23px;
    height: 23px;
    fill: #ffffff;
}

.choirSection {
    padding-bottom: 80px;
    margin-top: -70px;
}

.choirHeading {
    text-align: center;
    margin-bottom: 60px;
    padding-top: 80px;
}

.choirHeading img {
    display: block;
    max-width: 115px;
    height: auto;
    margin: 0 auto;
}

.choirHeading p {
    font-size: 18px;
    color: #322f25;
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: serif;
}

.choirHeading h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: normal;
    color: #111111;
}

.progPart {
    width: 95%;
}

.progPart h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 7px;
    color: #111111;
    line-height: normal;
}

.progPart p {
    font-size: 18px;
    line-height: 30px;
    color: #555555;
    width: 85%;
}

.progBar {
    margin-top: 42px;
}

.progress {
    height: 50px;
    background-color: #fbf9f7;
    border-radius: 100px !important;
    overflow: hidden;
}

.progress:not(:last-child) {
    margin-bottom: 20px;
}

.progressBar {
    height: 100%;
    background-color: #2b476b;
    border-radius: 100px !important;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.videoSec {
    display: flex;
    flex-direction: column;
}

.videoWrapper {
    margin-bottom: 40px;
    margin-left: 30px;
    position: relative;
    text-align: left;
    width: fit-content;
    display: block;
}

.videoWrapper img {
    width: 400px;
    height: 260px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

.playBtn {
    width: 85px;
    height: 85px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    background: transparent;
}

.playBtn:before {
    content: "";
    border: 2px solid white;
    width: 115%;
    height: 115%;
    position: absolute;
    left: -6px;
    top: -6px;
    border-radius: 100px;
    transition: all 0.3s ease;
}

.playBtn:hover:before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.playBtn svg {
    width: 25px;
    height: 25px;
    fill: white;
}

.largeImg {
    width: 500px;
    height: 330px;
    object-fit: cover;
    align-self: flex-end;
}

.mediaSection {
    padding-bottom: 150px;
    margin-top: -50px;
}

.longRect {
    margin-top: 40px;
}

.longRect img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 1370px) {
    .progPart {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .heading h2 {
        font-size: 40px;
        line-height: 55px;
        width: 100%;
    }

    .choirHeading h2 {
        font-size: 40px;
        line-height: normal;
        margin-bottom: 30px !important;
    }

    .progPart h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .videoSec {
        margin-top: 30px;
    }

    .socialList li {
        margin-right: 20px;
    }
}

@media (max-width: 768px) {
    .heading h2 {
        font-size: 35px;
        line-height: 45px;
    }

    .choirHeading h2 {
        font-size: 35px;
        line-height: 45px;
    }

    .progPart h2 {
        font-size: 35px;
        line-height: 45px;
    }
}

@media (max-width: 600px) {
    .socialList {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .socialItem {
        margin-bottom: 20px;
    }

    .socialList::before {
        height: 105%;
    }

    .videoWrapper {
        margin-bottom: 30px;
        margin-left: 0;
    }

    .choirHeading h2,
    .progPart h2 {
        font-size: 35px;
        line-height: 45px;
    }
}

@media (max-width: 480px) {
    .choirHeading img {
        max-width: 90px;
        transform: translateY(15px);
    }

    .videoWrapper img {
        width: 100%;
        height: auto;
    }

    .largeImg {
        width: 100%;
        height: auto;
    }

    .longRect img {
        height: 250px;
    }

    .heading h2,
    .choirHeading h2,
    .progPart h2 {
        font-size: 28px;
        line-height: normal;
    }

    .progress {
        height: 40px;
    }

    .progressBar {
        font-size: 16px;
    }

    .playBtn {
        width: 60px;
        height: 60px;
    }

    .playBtn svg {
        width: 18px;
        height: 18px;
    }
}