.circleSlider {
    padding-top: 50px;
    padding-bottom: 50px;
}

.cSlider p {
    line-height: 30px;
    color: #292929;
    width: 79%;
    margin-top: 20px;
    font-size: 16px;
}

.cSlider ul li h3 {
    font-size: 26px;
    margin-bottom: 2px;
    margin-top: 20px;
}

.cSlider ul li {
    font-size: 16px;
    line-height: 27px;
    color: #111;
}

.themeClr {
    color: #1f4372;
    /* Secondary color based on previous work */
    text-decoration: underline;
    margin-left: 5px;
}

.navCSlider {
    position: relative;
    border: 3px solid #e5e5e5;
    border-radius: 100%;
    min-height: 480px;
    margin-left: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navCSlider::before {
    content: "";
    width: 250px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
}

.nextSlide {
    position: absolute;
    z-index: 2;
    transition: all 0.3s ease;
}

.nextSlide img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    border: 3px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.17) 3px 6px 7px 0px;
    object-fit: cover;
}

.nextSlide:nth-child(1) {
    top: 3%;
    left: 11%;
}

.nextSlide:nth-child(2) {
    top: 26%;
    left: -6%;
}

.nextSlide:nth-child(3) {
    top: 59%;
    left: -5%;
}

.nextSlide:nth-child(4) {
    top: 82%;
    left: 14%;
}

.sliderMainImg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.sliderMainImg img {
    width: 280px;
    height: 280px;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.nextSlide:hover img {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.navActive img {
    border-color: #ecb111;
    /* Accenting active slide */
    transform: scale(1.1);
}

/* Responsive adjustments */
@media (max-width: 1370px) {
    .cSlider p {
        width: 92%;
    }

    .navCSlider {
        margin-left: 75px;
    }
}

@media (max-width: 992px) {
    .navCSlider {
        margin-left: 0;
        margin-top: 50px;
        min-height: 400px;
    }

    .sliderMainImg img {
        width: 220px;
        height: 220px;
    }

    .nextSlide img {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 576px) {
    .cSlider p {
        width: 100%;
        text-align: center;
    }

    .cSlider {
        text-align: center;
    }

    .navCSlider {
        min-height: 320px;
        width: 320px;
        margin: 40px auto 0;
    }

    .sliderMainImg img {
        width: 180px;
        height: 180px;
    }

    .nextSlide img {
        width: 50px;
        height: 50px;
    }

    .navCSlider::before {
        display: none;
    }

    .nextSlide:nth-child(1) {
        left: 15%;
    }

    .nextSlide:nth-child(2) {
        left: -5%;
    }

    .nextSlide:nth-child(3) {
        left: -5%;
    }

    .nextSlide:nth-child(4) {
        left: 15%;
    }
}